@import url('https://fonts.googleapis.com/css?family=Raleway');

/* *****************  CARDS DESIGN **************** */
.flip-card2 {
  width: 300px;
  height: 150px;
  perspective: 1000px; 
  margin-left: 550px;
  position: absolute;
  top: 100px;
  left: 30em;
}
.flip-card-inner2 {
  width: 300px;
  height: 150px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
  margin-top: -150px;
  
}
.flip-card-front2 {
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
}

.flip-card-back2 {
  width: 450px;
  height: 582px;
  background-color: #faf8ec!important;
  transform: rotateY(180deg);
  backface-visibility: hidden; 
  border: 8px solid black;

}
.melCard  {
  border: 3px solid black;
  width: 450px;
  height: 582px;
}

/* *****************  WHEEL **************** */

.App-logo {
  height: 550px;
  position: absolute;
  top: -140px;
  right: 50px;
  animation: App-logo-spin infinite 0s linear;
  
}
.App-logo-speed-up{
  height: 550px;
  position: absolute;
  top: -140px;
  right: 50px;
  animation: App-logo-spin infinite 1s linear;

}

#peg {
  display: block;
  width: 3%;
  min-width: 15px;
  max-width: 40px;
  height: auto;
  position: absolute;
  top: 2%;
  right: 73%;
  z-index: 2;
}

.buttonSpin{
  position: absolute;
  top: 230px;
  right: 307px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    transition-duration: 5ms;
  }

}

/* *****************  CRICKET + MARKET **************** */

.Criketpic img {
  width: 68px;
  position: relative;
  top: 380px;
  left: 330px;
}

.market{
  width: 10%!important;
  position: relative;
  top: 400px;
  left: 340px;

}

/* *****************  TRAMWAY **************** */

.TramMel {
  width: 200px;
  position: relative;
  bottom: 110px;
}
/* Tout dessin du tramway*/
.stage {
  width: 200px;
  height: 200px;
  position: relative;
  top: 250px;
  left: 20px;
}

/* Fait bouger le dessin*/
.animation {
  height: 332px;
  position: relative;
  z-index: 2;
  animation: tramAnim 1800ms cubic-bezier(0.58, 0.04, 0.12, 0.92) 600ms forwards, tranAnimStop 400ms linear infinite alternate 2850ms;
  will-change: transform;
  opacity: 0;
  transform-origin: bottom center;
}

@keyframes tramAnim {
  0% {
    transform: translateY(-80px) scale(0.5) translateZ(0); 
    opacity: 0; 
  }

  10% {
    transform:  translateY(-80px) scale(0.5) translateZ(0);
    opacity: 0;   
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: translateY(0px) scale(1) translateZ(0) rotate(-1deg);
    opacity: 1; 
  }
}

@keyframes tranAnimStop {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0.3deg);
  }
}

/* Toit beige et marron + panneau entier melbourne  */
.tram-top {
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

/* Panneau bois haut */
.tram-top-three {
  top: 10px;
  height: 30px;
  width: 148px;
  z-index: 2;
}

/* Carré noir écriture Melbourne */
.tram-top-three:before {
  content: 'Melbourne';
  position: absolute;
  color: #fff;
  background-color: #1F1A16;
  font-size: 12px;
  padding: 4px 56px 2px 5px;
  left: 5px;
  bottom: 4px;
}

/* Carré noir Melbourne */
.tram-top-three:after {
  content: '28';
  position: absolute;
  color: #fff;
  background-color: #1F1A16;
  font-size: 12px;
  padding: 4px 12px 2px 5px;
  right: 5px;
  bottom: 4px;
}

/* Pied panneau bas gauche */
.tram-top-three-left {
  bottom: -16px;
  left: -2px;
  width: 8px;
  height: 16px;
  border-top: 0;
}

/* Pied panneau bas droite */
.tram-top-three-right {
  bottom: -16px;
  right: -2px;
  width: 8px;
  height: 16px;
  border-top: 0;
}

/* Toit marron clair dessus */
.tram-top-five {
  bottom: 22px;
  height: 20px;
  left: 3px;
  right: 0px;
  border-radius: 100px 100px 0 0;
}

/* Toit beige clair dessus */
.tram-top-six {
  bottom: 0px;
  height: 20px;
  left: 3px;
  right: 0;
  border-radius: 0 0 8px 8px;
}

/* Main Area - Front */
.tram-front {
  top: 80px;
  width: 186px;
  height: 100px;
}

.tram-front-one {
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
}

.tram-front-two {
  width: 100%;
  height: 102px;
  top: 8px;
  left: 0;
}

/* Siège marron gauche*/
.tram-front-two-left {
  width: 46px;
  top: 14px;
  left: 8px;
  bottom: 8px;
  border-radius: 100px 100px 0 0;
}

.tram-front-two-left:before {
  content: '';
  position: absolute;
  background-color: #2d271b;
  border-radius: 100px 100px 0 0;
  border: 2px solid #222;
  top: 6px;
  left: 4px;
  bottom: 4px;
  right: 4px;
}

/* Siège marron milieu*/
.tram-front-two-middle {
  width: 58px;
  top: 8px;
  bottom: 8px;
  border-radius: 100px 100px 0 0;
}

.tram-front-two-middle:before {
  content: '';
  position: absolute;
  background-color: #2d271b;
  border-radius: 100px 100px 0 0;
  border: 2px solid #222;
  top: 6px;
  left: 4px;
  bottom: 4px;
  right: 4px;
}

/* Siège marron droite*/
.tram-front-two-right {
  width: 46px;
  top: 14px;
  right: 8px;
  bottom: 8px;
  border-radius: 100px 100px 0 0;
}

.tram-front-two-right:before {
  content: '';
  position: absolute;
  background-color: #2d271b;
  border-radius: 100px 100px 0 0;
  border: 2px solid #222;
  top: 6px;
  left: 4px;
  bottom: 4px;
  right: 4px;
}

/* Barre orange du phare blanc*/
.tram-front-three {
  top: 108px;
  width: 100%;
  left: 0;
  height: 30px;
}

/* Phare blanc*/
.tram-front-three-middle {
  width: 24px;
  height: 24px;
  bottom: 2px;
  border-radius: 0;
  background-color: #5A3A25;
  border-radius: 50%;
  border: 2px solid #222;
}

.tram-front-three-middle:after {
  content: '';
  background-color: #fff;
  border: 2px solid #222;
  border-radius: 50%;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  position: absolute;
}

/* Barre de devant phares orange cercle*/
.tram-front-four {
  width: 100%;
  bottom: -67px;
  left: 0;
  height: 22px;
}

/*phares orange cercle*/
.tram-front-four-left {
  width: 13px;
  height: 12px;
  border-radius: 50%;
  top: 1px;
  left: 40px;
}

.tram-front-four-right {
  width: 12px;  
  height: 12px;
  border-radius: 50%;
  top: 1px;
  right: 40px;
}

/* barre marron dessous deux phares oranges*/
.tram-front-five {
  width: 100%;
  bottom: -80px;
  left: 0;
  height: 16px;
}

/* Main Area - Left */
.tram-left {
  top: 98px;
  left: 0px;
  width: 22px;
  height: 160px;
}

/* barre dessus orange gauche*/
.tram-left-one {
  height: 80%;
  top: -7.9px;
  right: 3px;
  width: 10px;
  z-index: 2;
  border-radius: 0 0 0 6px;
}

/* Main Area - Right */
.tram-right {
  top: 98px;
  right: 0px;
  width: 22px;
  height: 160px;
}

/* Barre orange droite devant */
.tram-right-one {
  height: 80%;
  top: -7.9px;
  left: 5px;
  width: 10px;
  border-radius: 0 0 6px 0;
  z-index: 2;
}


/* Bloc noir bas*/
.tram-bottom {
  bottom: 20px;
  width: 186px;
  height: 52px;
  z-index: 2;
}

.tram-bottom-one {
  top: 0;
  height: 5px;
  width: 154px;
}

.tram-bottom-two {
  top: 0;
  height: 10px;
  width: 144px;
}

.tram-bottom-three {
  top: 0;
  height: 20px;
  width: 134px;
}

.tram-bottom-four {
  top: 2px;
  border-bottom: 50px solid #040000;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 0;
  height: 0;
  width: 118px;
}

/* Rails beige */
.tram-rail {
  height: 70px;
  bottom: 75%;
  width: 186px;
}

.tram-rail-left {
  height: 25px;
  position: absolute;
  bottom: 23px;
  width: 12px;
  z-index: 2;
  opacity: 0;
  left: 54px;
  -webkit-transform: translateY(-2px) skew(-15deg);
          transform: translateY(-2px) skew(-15deg);
  animation: tramRailAnimLeft 1750ms cubic-bezier(0.58, 0.04, 0.12, 0.92) 250ms forwards;
}

.tram-rail-right {
  height: 25px;
  position: absolute;
  bottom: 23px;
  width: 12px;
  z-index: 2;
  opacity: 0;
  right: 54px;
  -webkit-transform: translateY(-2px) skew(15deg);
          transform: translateY(-2px) skew(15deg);
  animation: tramRailAnimRight 1750ms cubic-bezier(0.58, 0.04, 0.12, 0.92) 250ms forwards;
}

@keyframes tramRailAnimLeft {
  0% {
      transform: translateY(300px) translateX(-100px) skew(-15deg);
      opacity: 1;
  }
  
  100% {
    transform: translateY(-2px) translateX(0px) skew(-15deg);
     opacity: 1;
  }
}
 

@keyframes tramRailAnimRight {
  0% {
      transform: translateY(300px) translateX(100px) skew(15deg);
         opacity: 1;
  }
  
  100% {
    transform: translateY(-2px) skew(15deg);
       opacity: 1;
  }
}

/* Couleur du tramway */
.bg-one { background-color: #c5b59c; }
.bg-two { background-color: #5c4f47; }
.bg-three { background-color: #f8ffef; }
.bg-four { background-color: #e29302; }
.bg-five { background-color: #f5b43c; }
.bg-six { background-color: #2e1916; }
.bg-seven { background-color: #593924; }
.bg-eight { background-color: #040000; }
.bg-nine { background-color: #bbada2; }

.p-absolute { position: absolute; }
.border {border: 2px solid #222;}

.center-horizontal {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}




/* *****************  PENGUIN **************** */

.container{
	width: 10px;
	height:40px;
	top:10%;
	left:58%;
	display:block;
	position:absolute;
	animation:drunk 5s linear infinite alternate
	}

@keyframes drunk{
	0%,40%,80%{transform:translate(-30%,-30%) rotate(-5deg)}
	20%,60%,100%{transform:translate(-30%,-30%) rotate(5deg)}
	}

.body-penguin{
	background:#000;
	width:160px;
	height:160px;
	margin:0 auto;
	display:block;
	position:relative;
	border-radius:50%;
	box-shadow:0 8px 6px -6px rgba(0,0,0,.5)
	}

.body-penguin:before{
	background:#fff;
	content:"";
	width:90px;
	height:100px;
	bottom:10px;
	left:50%;
	display:block;
	position:absolute;
	border-radius:50%;
	transform:translate(-50%,0);
	box-shadow:inset 0 -30px 2px 0 #e6e6e6
	}

.eye{
	width:80px;
	height:40px;
	top:10px;
	left:50%;
	display:block;
	position:absolute;
	transform:translate(-50%,0)
	}

.eye:before,
.eye:after{
	background-color:#fff;
	background-image:radial-gradient(closest-side at 50% 50%,#000,#000,#000,#000,#000,#000,rgba(0,0,0,0));
	background-repeat:no-repeat;
	background-size:15px 15px;
	content:"";
	width:40px;
	height:100%;
	top:0;
	display:block;
	position:absolute;
	border-radius:50%
	}

.eye:before
	{left:5px;animation:eye-left 5s linear infinite alternate}

@keyframes eye-left{
	0%,40%,80%{background-position:15px 25px}
	20%,60%,100%{background-position:15px 15px}
	}

.eye:after
	{right:5px;animation:eye-right 5s linear infinite alternate}

@keyframes eye-right{
	0%,40%,80%{background-position:8px 15px}
	20%,60%,100%{background-position:8px 25px}
	}

.nose{
	background:linear-gradient(230deg,#cc7a00,#e68a00,#ff9900,#ffa31a,#ffad33,#ffb84d);
	width:30px;
	height:30px;
	top:35%;
	left:50%;
	display:block;
	position:absolute;
	border-radius:50% 50% 0 50%;
	box-shadow:4px 0 2px 0 rgba(0,0,0,.5);
	transform:translate(-50%,-40%) rotate(50deg)
	}

.hand{
	width:180px;
	height:40px;
	top:40px;
	left:50%;
	display:block;
	position:absolute;
	transform:translate(-50%,0)
	}

.hand:before,
.hand:after{
	background-color:#000;
	background-image:radial-gradient(closest-side at 50% 50%,#fff,#fff,#fff,#fff,#fff,rgba(0,0,0,0));
	background-repeat:no-repeat;
	background-size:50px 130px;
	content:"";
	width:40px;
	height:80px;
	top:5px;
	display:block;
	position:absolute;
	box-shadow:inset 0 10px 2px 0 #111
	}

.hand:before{
	background-position:30px top;
	left:-10px;
	border-radius:20px 20px 0 100%;
	animation:hand-left 5s linear infinite alternate
	}

@keyframes hand-left{
	0%,40%,80%{transform:rotate(45deg)}
	20%,60%,100%{transform:rotate(60deg)}
	}

.hand:after{
	background-position:-40px top;
	right:-10px;
	border-radius:20px 20px 100% 0;
	animation:hand-right 5s linear infinite alternate
	}

@keyframes hand-right{
	0%,40%,80%{transform:rotate(-45deg)}
	20%,60%,100%{transform:rotate(-60deg)}
	}

.foot{
	width:150px;
	height:50px;
	bottom:-30px;
	left:50%;
	z-index:-1;
	display:block;
	position:absolute;
	transform:translate(-50%,0)
	}

.foot:before,
.foot:after{
	content:"";
	width:60px;
	height:30px;
	top:0;
	display:block;
	position:absolute;
	border-radius:0 0 50% 50%
	}

.foot:before{
	background:linear-gradient(230deg,#cc7a00,#e68a00,#ff9900,#ffa31a,#ffad33,#ffb84d);
	left:0;
	animation:foot-left 5s linear infinite alternate
	}

@keyframes foot-left{
	0%,40%,80%{transform:rotate(15deg) skewX(-45deg) scale(1,1)}
	20%,60%,100%{transform:rotate(15deg) skewX(-45deg) scale(.5,1)}
	}

.foot:after{
	background:linear-gradient(-230deg,#cc7a00,#e68a00,#ff9900,#ffa31a,#ffad33,#ffb84d);
	right:0;
	animation:foot-right 5s linear infinite alternate
	}

@keyframes foot-right{
	0%,40%,80%{transform:rotate(-15deg) skewX(45deg) scale(.5,1)}
	20%,60%,100%{transform:rotate(-15deg) skewX(45deg) scale(1,1)}
	}
 
