.background{
    background-color: black;
}


.back{
    height:685px;
    margin: none;
    margin-left: 440px;
}
.HomeImage{
    margin-top: -830px;
    margin-left: 550px;
    height: 300px;
    border-radius: 10px;
}

.pushpin{
    width: 50px;
    position: relative;
    top: -580px;
    right: 100px;
}

.arrow{
    position: relative;
    top: -110px;
    right: 185px;
    color: white;
}