@import url('https://fonts.googleapis.com/css?family=Raleway');

/* *****************  CARDS DESIGN **************** */
.flip-card2 {
  width: 300px;
  height: 150px;
  perspective: 1000px; 
  margin-left: 550px;
  position: absolute;
  top: 92px;
  left: 10em;
}
.flip-card-inner2 {
  width: 500px;
  height: 150px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}
.flip-card-front2  {
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  
}
.flip-card-back2 {
  margin-top: -155px;
  width: 440px;
  height: 582px;
  background-color: #faf8ec!important;
  transform: rotateY(180deg);
  backface-visibility: hidden; 
  border-radius:20px;
}
.melCard  {
  width: 450px;
  height: 582px;
  border-radius: 20px;
}

/* *****************  WHEEL **************** */
.titlefood {
  position: absolute;
  margin-top: 10px;
  margin-left: 115px;
  font-family: 'Lora', serif;
  color:#edc115;
}
.App-logo {
  height: 280px;
  position: absolute;
  top: 60px;
  right: 80px;
  animation: App-logo-spin infinite 0s linear;
  
}
.App-logo-speed-up {
  height: 280px;
  position: absolute;
  top: 60px;
  right: 80px;
  animation: App-logo-spin infinite 1s linear;

}

.peg {
  display: block;
  width: 15px;
  position: absolute;
  top: 9%;
  right: 220px;
  z-index: 2;
}

.buttonSpin {
  position: absolute;
  top: 350px;
  right: 200px; 
}

.spin{
  border-radius: 10px;
}

.spin:focus{
  outline: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    transition-duration: 5ms;
  }

}

.Events img {
  height: 45px;
  margin-left: -50px;
  margin-top: -110px;
 
}
.Events{
  display: flex;
  justify-content: space-around;
}
.toDo{
  position: relative;
  bottom: -395px;
  text-align: center;
  font-family: 'Lora', serif;
  color:#edc115;
}

